* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Geologica';
    src: url('../font/Geologica-Light.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GeologicaExtra';
    src: url('../font/Geologica-ExtraLight.woff2');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, label, span{
    font-family: 'Geologica', sans-serif;
}

input {
    color: black;
}